<a href="https://colab.research.google.com/github/AugustoSavi/Python-para-Ciencia-de-Dados-Formacao-Basica/blob/master/Investigando_a_dispers%C3%A3o_de_uma_variavel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

caminho = 'https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv'
carros = pd.read_csv(caminho)
carros.columns = ['nomes','mpg', 'cyl',	'disp',	'hp',	'drat','wt','qsec',	'vs','am','qtd_marchas','carb']

carros.head()

               nomes   mpg  cyl   disp   hp  ...   qsec  vs  am  qtd_marchas  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1            4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1            4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1            4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0            3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0            3     2

[5 rows x 12 columns]

In [2]:
carros.std()

mpg       6.026948
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.786943
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [3]:
carros.var()

mpg        36.324103
cyl         3.189516
disp    15360.799829
hp       4700.866935
drat        0.285881
wt          0.957379
qsec        3.193166
vs          0.254032
am          0.248992
gear        0.544355
carb        2.608871
dtype: float64

In [6]:
carros['qtd_marchas'].value_counts()

3    15
4    12
5     5
Name: qtd_marchas, dtype: int64

In [7]:
carros.describe()

             mpg        cyl        disp  ...         am  qtd_marchas     carb
count  32.000000  32.000000   32.000000  ...  32.000000    32.000000  32.0000
mean   20.090625   6.187500  230.721875  ...   0.406250     3.687500   2.8125
std     6.026948   1.785922  123.938694  ...   0.498991     0.737804   1.6152
min    10.400000   4.000000   71.100000  ...   0.000000     3.000000   1.0000
25%    15.425000   4.000000  120.825000  ...   0.000000     3.000000   2.0000
50%    19.200000   6.000000  196.300000  ...   0.000000     4.000000   2.0000
75%    22.800000   8.000000  326.000000  ...   1.000000     4.000000   4.0000
max    33.900000   8.000000  472.000000  ...   1.000000     5.000000   8.0000

[8 rows x 11 columns]